
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}


nav {
width: 1600px;
height: 92px;
display: flex;
justify-content: space-around;
align-items: center;
padding: 16px 120px 16px 120px;
}

.logo-navbar{
    width: 139px;
    height: 60px;
}

nav  .menu {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    gap: 32px;
    align-items: center;
    font-size: 16;
    

}


nav .menu a{
    text-decoration: none;
    color: black;
}

.btn-early{
    background-color: #30b868;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 16px 12px;
    font-weight: bold;
    font-size: 16;
    cursor: pointer;
    border: none;
}
.btn-start{
    background-color: #30b868;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 16px 12px;
    font-weight: bold;
    font-size: 16;
    cursor: pointer;
    border: none;
}

.btn-start img{
    width: 20;
    height: 20;

}
section{
    background: url(./assets/hero-bg.png),linear-gradient(rgb(10,25,41,0.8));
    width: 1600px;
    height: 674px;
    background-repeat: no-repeat;
    border: none;
    padding: 240px 150px;
    
}

.hero-container h1{
         color: #FFFFFF;     
}
.hero-container span{
         color: #30b868;
         font-weight: bolder;

}
.hero-container h1{
font-style: Bold;
font-size: 72px;
font-weight: 700;
line-height: 84px;
letter-spacing: 0%;
text-align: center;
}

.hero-container p{
           text-align: center;
           height: 60px;
           color: white ;
           
}

.badge {
    background: white;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 12px;
    text-align: center;
    width: 183px;
    height: 19px;
}
.banner-container{
         text-align: center;
         justify-content: flex-start;
        align-items: center;
        gap: 16;


}

.btn{
     background: none;
     color: #FFFFFF;
     cursor: pointer;border-radius: 4px;
    padding: 16px 12px;
    font-weight: bold;
    font-size: 16;
}


.problems {
    background: none;
    text-align: center;
    padding: 80px 10%;
}
.card-container {
    max-width: 1360px;
    display: flex;
    gap: 20px;
    margin-top: 50px;
}



.card {
    background: white;
    padding: 30px;
    border-radius: 10px;
}

.card .icon {
    font-size: 30px;
    margin-bottom: 15px;
    background: none;
}